Django==4.2.11

# PostgreSQL driver for Django
psycopg[binary]==3.3.1

# Database URL config
dj-database-url==2.1.0

# Load .env locally
python-dotenv==1.0.1

# Testing
pytest==8.0.2
pytest-django==4.8.0
factory-boy==3.3.0
Faker==24.2.0